 .popup__button_inactive{
  background-color: #fff;
  color: #C4C4C4;
  max-width: 358px;
  height: 50px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  border: none;
  margin-top: 41px;
  cursor: pointer;
  width: 100%;
  margin-left: 36px;
  margin-bottom: 37px;
  border: 1px solid #C4C4C4;
}
@media screen and (max-width: 767px) {
  .popup__button_inactive {
    width: 90%;
    margin-left: 14px
  }
}

