.profile__icon {
  display: none;
  position: absolute;
  right: 808px;
  top: 45px;
  width: 26px;
  height: 26px;
  align-self: center;
  background-image: url('../../../images/plus.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile:hover .profile__icon {
  display: block;
}

@media screen and (max-width: 767px) {
  .profile__icon {
    right: 128px;
    top: 47px;
  }
}
